.header-container{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 2px solid #ffffff;
    margin-bottom: 0.5rem;
    background-color: #000000;
}
.header-menu-nav{
    width: 55%;
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.header-menu-list{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.header-menu-list-item{
    list-style: none;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: #f2f2f2;     
}
.header-menu-list-item:hover{
    text-decoration: underline;
}
.header-logo-box{
    width: 40%;

}
.header-logo{
    width: 3vw;
}