<header class="header-container">
    <div class="header-logo-box">
        <img src="../../assets/images/logo.png" alt="" class="header-logo">
    </div>
    <nav class="header-menu-nav">
        <ul class="header-menu-list">
            <li class="header-menu-list-item" (click)="goToPage('')"  >Home</li>
            <li class="header-menu-list-item" (click)="goToPage('/shop')">Shop</li>
            <li class="header-menu-list-item" (click)="goToPage('/contacts')">Contacts</li>
            <li class="header-menu-list-item" (click)="goToPage('/about')">About</li>
        </ul>
    </nav>
</header>
