.product-banner{
    width: 90%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem auto;
    box-shadow: 1px 2px 3px 1px  rgba(0, 0, 0, 0.699);
    border-radius: 3px;
    background-color: #000000;
}
.product-gallery-images{
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background-color: #ffffff;
}
.product-image{
    width: 9vw;
    margin: 0.5rem;
}
.product-image:hover{
  cursor: pointer;
  transform: scale(1.2);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.699);
  padding: 0.1rem;
  border-radius: 5px;
}
.product-infos{
    width: 85%;
    height: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1.5rem ;

}
.product-title, .product-description{
    width: 80%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin: .5rem;
}

.product-description{
    width: 70%;
}

.read-more-button{
    width: 25vw;
    background: none;
    border: none;
    font-size: 1.3rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3rem;
    padding-left: 10px;
    color: white;
}
.read-more-button:hover{
    text-decoration: underline;
    cursor: pointer;
}
.logo-banner{
    width: 20vw;
    padding-left: 10px;
    padding-bottom: 7%;
}
