<section class="product-banner">
    <article>
        <div class="product-infos">
            <img src="../../assets/images/iphone13.png" alt="" class="logo-banner">
            <h2 class="product-title">
                Lorem ipsum dolor sit amet consectetur
            </h2>
            <p class="product-description">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore numquam magni odio, ea saepe voluptas
                aperiam quidem neque eos soluta aspernatur consequatur, at officia labore non voluptates voluptatem
                quibusdam dignissimos!
            </p>
            <button (click)="showDetails()" class="read-more-button">Read more about new iPhone...</button>
        </div>
    </article>
    <div class="product-gallery-images">
        <img *ngFor="let imageName of productImagesPath" src="../assets/images/{{imageName}}" alt="" class="product-image">
    </div>
</section>