<section class="product-banner">
    <div class="product-infos">
        <h2 class="product-title">
            Lorem ipsum dolor sit amet consectetur
        </h2>
        <p class="product-description">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore numquam magni odio, ea saepe voluptas aperiam quidem neque eos soluta aspernatur consequatur, at officia labore non voluptates voluptatem quibusdam dignissimos!
        </p>
    </div>
    <div class="product-gallery-images">
        <div class="product-image">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </div>
        <div class="product-image">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </div>
        <div class="product-image">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </div>
        <div class="product-image">Lorem, ipsum dolor sit amet consectetur adipisicing elit. </div>
    </div>
</section>