<section class="product-grid">
  <div *ngFor="let productItem of productList" class="product-card">
    <img src="../../assets/images/{{productItem.imageSrc}}" alt="{{productItem.name}}" class="product-card-image">
    <div class="product-card-description">
      <h3 class="card-description-title">{{productItem.name}}</h3>
      <div class="card-buttons-box">
        <span class="price">{{productItem.price}}</span>
        <button class="add-to-cart">+</button>
        <button class="buy">$</button>
      </div>
    </div>
  </div>
</section>
